---
stylesheet: '2017-08-21'
---

<nav class="skip-nav">
  <ul>
    <li><a href="#main" title="Skip to main content">Skip to content</a></li>
  </ul>
</nav>

<div class="app-content">
  <div class="content-wrapper">

    <header class="wrap header-main header-design-manual">
      <a class="coop-logo" aria-label="Homepage" href="index.html">
        <img src="<%= image_path 'assets/images/logos/coop-logo.svg' %>" alt="Co-op">
      </a>
      <span>Jake</span>
    </header>

    <main id="main" class="main">
      <article class="wrap">
        <div class="row margin-bh">
          <div class="column large-7">
            <div class="widget">
              <div class="card">
                <h2>Try out some new things in your area</h2>
                <p>412 people are learning new things near you, like:</p>
                <ul>
                  <li>Pastry making</li>
                  <li>Woodcraft</li>
                  <li>Laser cutting</li>
                </ul>
              </div>
              <a href="#">Hide this</a>
            </div>
            <div class="widget">
              <div class="card">
                <h2>Understand your financial future</h2>
                <p>Work out how savings and pensions will support your later life</p>
              </div>
              <a href="#">Hide this</a>
            </div>
            <div class="widget">
              <div class="card">
                <h2>Help someone get out of a debt spiral</h2>
                <p>Your support and experience could help one of the thousands of people struggling with debt.</p>
              </div>
              <a href="#">Hide this</a>
            </div>
            <div class="widget">
              <div class="card">
                <h2>100 free things to do</h2>
              </div>
              <a href="#">Hide this</a>
            </div>
            <div class="widget">
              <div class="card">
                <h2>Local shop locker</h2>
                <p>Can't make the local butcher's opening times? Collect from a locker in the Co-op until 10pm.
              </div>
              <a href="#">Hide this</a>
            </div>
          </div>
        </div>
      </article>
    </main>

  </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.1.min.js" integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="assets/javascript/vendor/jquery-1.12.1.min.js"><\/script>')</script>
<script src="assets/javascript/main.js"></script>
