@import "../assets/stylesheets/main.css";
@import "_colours";

body {
  background: #f7f7f7;
  header {
    &.wrap {
      background: $white;
    }
    span {
      float: right;
      vertical-align: middle;
      height: 46px;
      line-height: 46px;
      @media (min-width: 750px) {
        height: 92px;
        line-height: 92px;
        font-size: 1.2rem;
      }
    }
  }
  figure {
    padding: 0;
    margin: 0;
    overflow: hidden;
    min-width: 80px;
    width: 100%;
    max-width: 140px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
  }
  .timeline {
    .widget {
      padding: 0 0 0 2rem;
      .card-intro > h1 {
        &:before {
          content: '';
          position: absolute;
          display: block;
          width: 1rem;
          height: 1rem;
          border-radius: 100%;
          border: 2px solid lighten($darker-grey, 60%);
          background-color: lighten($darker-grey, 60%);
          top: 1.8rem;
          left: 0.4rem;
          @media (min-width: 750px) {
            top: 2.6rem;
          }
        }

      }
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 0.2rem;
        height: calc(100% + 6rem);
        background-color: lighten($darker-grey, 60%);
        top: -1rem;
        left: 0.8rem;
        border-radius: 0.2rem;
      }
    }
  }
}

.widget {
  position: relative;
  margin: 0 0 6rem 0;
  > a {
    font-size: 0.8rem;
    float: right;
    color: inherit;
    border-bottom-color: inherit;
  }
  > div {
    &.card-intro {
      padding: 1rem 1rem 0rem 1rem;
      @media (min-width: 750px) {
        padding: 1rem 2rem 0rem 2rem;
      }
      h1 {

      }
      p {

      }
    }
    &.home-card {
      margin-bottom: 0.6rem;
      border-radius: 0.2rem;
      overflow: hidden;
    }
  }
}

.home-card {
    width: 100%;
    box-shadow: 0 2px 3px 0 $offwhite-highlighted-bg;
    background: $white;
    p {
      padding: 1rem;
      margin: 0;
      @media (min-width: 750px) {
        padding: 2rem;
      }
      a {
        font-family: 'AvenirNextLTW01-Medium';
      }
    }

    &.split {
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
    }

    &.form {
      padding: 1rem;
      @media (min-width: 750px) {
        padding: 2rem;
      }
      p {
        padding: 0 0 1rem 0;
      }
    }
    &.life-moment {
      background-color: lighten($darker-grey, 70%);
      box-shadow: none;
      padding-bottom: 0;
    }
    > .home-card {
      margin: 2rem 0;
    }
}

.convo-pull-out {
  p {
    font-family: 'AvenirNextLTW01-Medium';
    font-size: 1.4rem;
    padding: 1rem;
    @media (min-width: 750px) {
      font-size: 1.8rem;
    }
  }
}
