@import "../assets/stylesheets/main.css";
@import "_colours";


body {
  background: #f7f7f7;
  .row {
    padding: 0 0 2rem 0;
    @media (min-width: 750px) {
      padding: 0 0 10rem 0;
    }
  }
  header {
    &.wrap {
      background: $white;
    }
    span {
      float: right;
      vertical-align: middle;
      height: 46px;
      line-height: 46px;
      @media (min-width: 750px) {
        height: 92px;
        line-height: 92px;
        font-size: 1.2rem;
      }
    }
  }
}

label {
  font-size: 1rem;
  @media (min-width: 750px) {
    font-size: 1.4rem;
  }
}

input {
  &.show-hide {
    display: none;
    ~ div.more-info {
      display: none;
    }
    ~ label {
      cursor: pointer;
      font-size: 1rem;
      color: $button-primary-dark;
      &:after {
        content: '▼';
        position: relative;
        width: auto;
        display: inline;
        font-size: 0.8rem;
        margin-left: 0.4rem;
      }
    }
    &:checked {
      ~ div.more-info {
        display: block;
      }
      ~ label {
        &:after {
          content: '▲';
        }
      }
    }
  }
}

.cta-area {
  section {
    background: $white;
    box-shadow: 0 2px 3px 0 $offwhite-highlighted-bg;
    max-width: 34rem;
    margin: 0 auto;
    padding: 1rem;
    @media (min-width: 750px) {
      padding: 4rem;
    }
  }
}

.widget {
  position: relative;
  margin: 0 0 6rem 0;
  > a.hide {
    font-size: 0.8rem;
    float: right;
    color: inherit;
    border-bottom-color: inherit;
  }
}

.prop-intro {
  div.column {
    img {
      @media (max-width: 460px) {
        max-width: 16rem;
      }
      @media (min-width: 750px) {
        margin-left: -2rem;
      }
    }
    h2, p, li {
      max-width: 24rem;
      @media (min-width: 750px) {
        max-width: 19rem;
      }
    }
  }
}

section#features {
  .row {
    margin-top: 2rem;
    @media (min-width: 750px) {
      display: flex;
      margin-top: 4rem;
    }

    &:nth-of-type(even) {
      > div {
        &.feature-desc {
          @media (min-width: 750px) {
            order: 2;
          }
        }
        &:last-of-type {
          text-align: center;
        }
      }
    }

    div.feature-desc {
      @media (min-width: 750px) {
        padding-top: 4rem;
      }
      h2, p {
        max-width: 24rem;
      }
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid lighten($darker-grey,50%);
    }
  }
}

a.card {
    width: 100%;
    margin-bottom: 0.6rem;
    border-radius: 0.2rem;
    overflow: hidden;
    display: block;
    color: inherit;
    box-shadow: 0 2px 3px 0 $offwhite-highlighted-bg;
    background: $white;
    padding: 1rem;
    border-bottom-color: $offwhite-highlighted-bg;
    &:hover {
      background-color: darken($white, 5)
    }
    @media (min-width: 750px) {
      padding: 2rem;
    }
    p {
      padding-bottom: 1rem;
      margin: 0;
      @media (min-width: 750px) {
        padding-bottom: 2rem;
      }
      a {
        font-family: 'AvenirNextLTW01-Medium';
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
}

.landscape-device {
  background: $white;
  padding: 1rem 1rem;
  border-radius: 2rem;
  box-shadow: 0 2px 5px 2px $offwhite-highlighted-bg;
  border-bottom-color: $offwhite-highlighted-bg;
}

.portrait-device {
  background: $white;
  height: 40em;
  padding: 3rem 1rem;
  border-radius: 2rem;
  box-shadow: 0 2px 5px 2px $offwhite-highlighted-bg;
  border-bottom-color: $offwhite-highlighted-bg;
}
