// These variables have been created from looking in assets/stylesheets/main.css from line 402
$white: #ffffff;
$darker-grey: #333333;
$offwhite-highlighted-bg: #e6e6e6;
$button-primary-dark: #374c63;

// From Co-op secondary palette
$base-cadillac: #9f4d73;
$base-meteorite: #4B2574;
$base-biscay: #1c3b6b;
$base-kashmir: #406A91;
$base-surfie: #117e80;
$base-thumb: #2E4834;
$base-oregon: #9e3705;
$base-tan: #610F1A;
