<form id="<%= form_id %>" action="https://docs.google.com/a/coopdigital.co.uk/forms/d/e/1FAIpQLSdRnbjiM8MKfwBtGG2f6uYi2v-wMuDLkux6YbYhNhm8FYb28w/formResponse" method="post">
  <label for="name">Your first name</label>
  <input id="name" type="text" name="entry.1174347126" value="" required><br />

  <label for="email">Your email address</label>
  <input id="email" type="email" name="entry.929927968" value="" required><br />

  <button class="btn btn-primary" type="submit">Sign up</button>
</form>
