<form id="<%= form_id %>" action="https://docs.google.com/a/coopdigital.co.uk/forms/d/e/1FAIpQLScCSd0E_iytFLnrxtPQumpyRqsqo_pZkxrgDeWfu3P_bwP38A/formResponse" method="post">
  <label for="name">Your first name</label>
  <input id="name" type="text" name="" value="" required><br />

  <label for="email">Your email address</label>
  <input id="email" type="email" name="" value="" required><br />

  <label for="story">Tell us a bit about your debt story, and how you came through it.</label>
  <textarea id="story" name="" value="" required></textarea><br />

  <label for="story">Tell us why you want to write a letter to someone in debt.</label>
  <textarea id="why" name="" value="" required></textarea><br />

  <button class="btn btn-primary" type="submit">Submit</button>
</form>
