<form id="<%= form_id %>" action="https://docs.google.com/a/coopdigital.co.uk/forms/d/e/1FAIpQLSfDFScwvkxdtELDEBnitRohAJvsU8GkMsSQIVF3cneMgahvDQ/formResponse" method="post">
  <label for="name">Your first name</label>
  <input id="name" type="text" name="entry.1393260060" value="" required><br />

  <label for="email">Your email address</label>
  <input id="email" type="email" name="entry.265475724" value="" required><br />

  <label for="story">How did you get into debt, how did it affect you, and how did you tackle it?</label>
  <textarea id="story" name="entry.1596004023" value="" required></textarea><br />

  <label for="story">Why would you like to write to someone who is struggling with debt?</label>
  <textarea id="why" name="entry.1835044172" value="" required></textarea><br />

  <button class="btn btn-primary" type="submit">Sign up</button>
</form>
