<form id="<%= form_id %>" action="https://docs.google.com/a/coopdigital.co.uk/forms/d/e/1FAIpQLScCSd0E_iytFLnrxtPQumpyRqsqo_pZkxrgDeWfu3P_bwP38A/formResponse" method="post">
  <label for="name">Your first name</label>
  <input id="name" class="track-clicks" type="text" name="" value="" required><br />

  <label for="email">Your email address</label>
  <input id="email" class="track-clicks" type="email" name="" value="" required><br />

  <label for="story">How did you get into debt, how did it affect you, and how did you tackle it?</label>
  <textarea id="story" class="track-clicks" name="" value="" required></textarea><br />

  <label for="story">Why would you like to write to someone who is struggling with debt?</label>
  <textarea id="why" class="track-clicks" name="" value="" required></textarea><br />

  <button class="btn btn-primary" type="submit">Sign up</button>
</form>
