---
stylesheet: '2017-09-01'
---

<nav class="skip-nav">
  <ul>
    <li><a href="#main" title="Skip to main content">Skip to content</a></li>
  </ul>
</nav>

<div class="app-content">
  <div class="content-wrapper">

    <header class="wrap header-main header-design-manual">
      <a class="coop-logo" aria-label="Homepage" href="index.html">
        <img src="<%= image_path 'assets/images/logos/coop-logo.svg' %>" alt="Co-op">
      </a>
    </header>

    <main id="main" class="main">
      <article class="wrap">
        <div class="row prop-intro">
          <div class="column large-6">
            <h1>Support someone struggling with debt</h1>
            <h2>Write a letter to someone in trouble with money</h2>
            <p>Have you been in debt and got through it?</p>
            <p>If you have, you’ll know that problems with debt can make you feel very lonely.</p>
            <p>A hand written letter from someone who has been in the same situation could make all the difference (and make a change from bills and official letters).</p>
            <p>[image showing an example letter]</p>
          </div>
        </div>

        <div class="row">
          <div class="column large-6">
            <h2>How it works</h2>
            <h3>1. Your profile</h3>
            <p>You fill in a bit of background about your experience with debt and how you tackled it. Your story will help us match you with someone who could benefit from your support.</p>

            <h3>2. Who can you write to</h3>
            <p>We&rsquo;ll match you with someone with a similar challenge who needs support, with a few details about their situation. After that &mdash; you can write your first letter.</p>

            <h3>3. We&rsquo;re here to help</h3>
            <p>From how to start a letter, through to offering emotional support, we've got templates and tips to help.</p>
          </div>
        </div>
        <div class="row">
            <div class="column large-6">
              <h2>What to write about</h2>
              <p>Tell the story of how you got into debt, and how you got out of it, in as much or as little detail as you feel is right. </p>
              <p>It's not about giving advice. It&rsquo;s not your job to get the person out of trouble.</p>
              <p>When you write to someone, you&rsquo;re reaching out to a person in a bad situation and giving them friendly support. </p>
            </div>
        </div>

        <div class="row">
          <div class="column large-12 cta-area">
            <section>
              <h2>Write a letter, and help someone who's feeling alone</h2>
              <p>If you’ve had any kind of problem with debt and you’ve come through it, your story could mean the world to someone just like you.</p>
              <%= link_to 'Get started', 'join', :id => 'get-started-1', :class => 'btn btn-primary track-clicks' %>
            </section>
          </div>
        </div>

      </article>
      <footer>
        <div class="wrap">
          <div class="row">
            <div class="column">
              <p class="copyright">© Co-operative Group Limited. All rights reserved.</p>
            </div>
          </div>
        </div>
      </footer>
    </main>
  </div>
</div>

<script>

function ready(fn) {
  if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading"){
    fn();
  } else {
    document.addEventListener('DOMContentLoaded', fn);
  }
}


function setupEventHandlers() {

  var clickableElements = document.getElementsByClassName('track-clicks');
  for(var i = 0 ; i < clickableElements.length ; ++i) {
    clickableElements[i].addEventListener('click', handleClick);
  }
}

function handleClick(event) {
  var clickedElement = event.target;

  ga('send', 'event', {
    eventCategory: 'Get started',
    eventAction: 'click',
    eventLabel: clickedElement.id  // good to make the id descriptive
  });
}

ready(setupEventHandlers);

</script>

<%= partial("google_analytics", :locals => {:tracking_code => "UA-105074981-1" }) %>

<script src="https://code.jquery.com/jquery-1.12.1.min.js" integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="assets/javascript/vendor/jquery-1.12.1.min.js"><\/script>')</script>
<script src="assets/javascript/main.js"></script>
