---
title: Co-op Platform | Write a letter to someone in debt
stylesheet: '2017-09-01'
---

<nav class="skip-nav">
  <ul>
    <li><a href="#main" title="Skip to main content">Skip to content</a></li>
  </ul>
</nav>

<div class="app-content">
  <div class="content-wrapper">

    <header class="wrap header-main header-design-manual">
      <a class="coop-logo" aria-label="Homepage" href="index.html">
        <img src="<%= image_path 'assets/images/logos/coop-logo.svg' %>" alt="Co-op">
      </a>
    </header>

    <main id="main" class="main">
      <article class="wrap">
        <div class="row prop-intro">
          <div class="column large-6">
            <h1>Support someone struggling with debt</h1>
            <h2>Write a letter to someone in trouble with money</h2>
            <p>Have you been in debt and got through it?</p>
            <p>If you have, you’ll know that problems with debt can make you feel very lonely.</p>
            <p>A hand written letter from someone who has been in the same situation could make all the difference (and make a change from bills and official letters).</p>
            <p>[image showing an example letter]</p>
          </div>
        </div>

        <div class="row">
          <div class="column large-6">
            <h2>How it works</h2>
            <p>Tell your story about a time when you had a debt problem. Big or small, it doesn&rsquo;t matter, it's how you came through it that's important.</p>
            <p>We&rsquo;ll match you with someone with a similar problem who needs support, with a few details about their situation.</p>
            <p>After that &mdash; you can write your first letter.</p>
            <p>We can help you get started with some examples, templates and writing tips.</p>
          </div>
        </div>
        <div class="row">
            <div class="column large-6">
              <h2>What to write about</h2>
              <p>Tell the story of how you got into debt, and how you got out of it, in as much or as little detail as you feel is right. </p>
              <p>It's not about giving advice. It&rsquo;s not your job to get the person out of trouble.</p>
              <p>When you write to someone, you&rsquo;re reaching out to a person in a bad situation and giving them friendly support. </p>
            </div>
        </div>

        <div class="row">
          <div class="column large-12 cta-area">
            <section>
              <h2>Write a letter, and help someone who's feeling alone</h2>
              <p>If you’ve had any kind of problem with debt and you’ve come through it, your story could mean the world to someone just like you.</p>
              <%= link_to 'Get started', 'join', :class => 'btn btn-primary' %>
            </section>
          </div>
        </div>

      </article>
      <footer>
        <div class="wrap">
          <div class="row">
            <div class="column">
              <p class="copyright">© Co-operative Group Limited. All rights reserved.</p>
            </div>
          </div>
        </div>
      </footer>
    </main>
  </div>
</div>

<script>

function ready(fn) {
  if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading"){
    fn();
  } else {
    document.addEventListener('DOMContentLoaded', fn);
  }
}


function setupEventHandlers() {

  var clickableElements = document.getElementsByClassName('track-clicks');
  for(var i = 0 ; i < clickableElements.length ; ++i) {
    clickableElements[i].addEventListener('click', handleClick);
  }

  var forms = document.getElementsByTagName('form');
  for(var i = 0 ; i < forms.length ; ++i) {
    forms[i].addEventListener('submit', handleFormSubmit);
  }
}

function handleClick(event) {
  var clickedElement = event.target;

  ga('send', 'event', {
    eventCategory: 'Find out more',
    eventAction: 'click',
    eventLabel: clickedElement.id  // good to make the id descriptive
  });
}

function handleFormSubmit(event) {
  // this is a bit tricksy, since submitting forms causes the page to unload
  // and stop javascript running.
  // See:
  // https://developers.google.com/analytics/devguides/collection/analyticsjs/sending-hits#knowing_when_the_hit_has_been_sent

  var form = event.target,
      // Keeps track of whether or not the form has been submitted.
      // This prevents the form from being submitted twice in cases
      // where `hitCallback` fires normally.
      formSubmitted = false;

  // Prevents the browser from submitting the form
  // and thus unloading the current page.
  event.preventDefault();

  setTimeout(submitForm, 1000);  // in case the GA hit callback never fires

  function submitForm() {
    if (!formSubmitted) {
      formSubmitted = true;
      console.log("calling form.submit()");
      form.submit();
    }
  }

  ga('send', 'event', {
    eventCategory: 'Sign up form',
    eventAction: 'form_submit',
    eventLabel: form.id,
    hitCallback: function() {
      console.debug("Got GA event hit callback");
      submitForm();
    }
  });

}

// ready(setupEventHandlers);

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-105074981-1', 'auto');
  ga('send', 'pageview');

</script>

<script src="https://code.jquery.com/jquery-1.12.1.min.js" integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="assets/javascript/vendor/jquery-1.12.1.min.js"><\/script>')</script>
<script src="assets/javascript/main.js"></script>
