---
stylesheet: '2017-09-26'
---

<nav class="skip-nav">
  <ul>
    <li><a href="#main" title="Skip to main content">Skip to content</a></li>
  </ul>
</nav>

<div class="app-content">
  <div class="content-wrapper">

    <header class="wrap header-main header-design-manual">
      <a class="coop-logo" aria-label="Homepage" href="index.html">
        <img src="<%= image_path 'assets/images/logos/coop-logo.svg' %>" alt="Co-op">
      </a>
    </header>

    <main id="main" class="main">
      <article class="wrap">
        <div class="row">
          <div class="column large-12 cta-area">
            <section>
              <h1>Who would you like to get a letter from?</h1>
              <fieldset>
                <legend>Pick up to three people you’d like to hear from.</legend>
                <label class="block-label">
                  <input type="checkbox" value="1" name="person-1">
                  <span class="writer-name">
                    Dave
                  </span>,
                  <span class="writer-age">
                    52
                  </span>
                  <p class="writer-story">
                    I got credit to update the kitchen and decorate the house, my relationship ended and I had to continue paying for the mortgage and debts alone, I had to consolidate with an Iva.
                  </p>
                </label>
                <label class="block-label">
                  <input type="checkbox" value="1" name="person-2">
                  <span class="writer-name">
                    Michael
                  </span>,
                  <span class="writer-age">
                    26
                  </span>
                  <p class="writer-story">
                    We were made homeless with a new born baby and we fought tooth and nail to secure a home for her. We went without eating to put milk in her belly and clean nappies on her bum.
                  </p>
                </label>
                <label class="block-label">
                  <input type="checkbox" value="1" name="person-3">
                  <span class="writer-name">
                    Julie
                  </span>,
                  <span class="writer-age">
                    41
                  </span>
                  <p class="writer-story">
                    I got into debt when I was a student because I didn't have enough income to pay for my daily living expenses/my rent. I was living in an expensive area of London and my parents were in a financial predicament too so they couldn't help me. I had to increase my overdraft dramatically, borrow money from friends and had a huge bill on a credit card.
                  </p>
                  <p class='writer-story'>I tackled it by working every hour that I could and spending as little as I could.
                  </p>
                </label>
                <%= link_to 'Show more', '#', :id => 'show-more', :class => 'btn btn-primary-dark' %>
              </fieldset>
              <%= link_to 'Confirm your choice', 'confirmed', :id => 'confirm-selection', :class => 'btn btn-primary' %>
              <p>Your letter writers will only see your name — they won’t know anything else about your or your situation.</p>
            </section>
          </div>
        </div>
      </article>
      <footer>
        <div class="wrap">
          <div class="row">
            <div class="column">
              <p class="copyright">© Co-operative Group Limited. All rights reserved.</p>
            </div>
          </div>
        </div>
      </footer>
    </main>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.1.min.js" integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="assets/javascript/vendor/jquery-1.12.1.min.js"><\/script>')</script>
<script src="assets/javascript/main.js"></script>
