---
stylesheet: '2017-08-21'
---

<nav class="skip-nav">
  <ul>
    <li><a href="#main" title="Skip to main content">Skip to content</a></li>
  </ul>
</nav>

<div class="app-content">
  <div class="content-wrapper">

    <header class="wrap header-main header-design-manual">
      <a class="coop-logo" aria-label="Homepage" href="index.html">
        <img src="<%= image_path 'assets/images/logos/coop-logo.svg' %>" alt="Co-op">
      </a>
      <span>Register</span>
    </header>

    <main id="main" class="main">
      <article class="wrap">
        <div class="row margin-bh">
          <div class="column large-7">
            <h1>We&rsquo;re re-thinking later life</h1>
            <p>Thinking about the future can be daunting.</p>
            <p>Our working lives are complicated, and the world is constantly changing around us.</p>
            <p>No-one should have to plan for the future on their own.</p>
            <p>The best way to face the future is to do it together, by:</p>
            <ul>
              <li>learning from each other</li>
              <li>thinking about what&rsquo;s important to us</li>
              <li>planning how we want to spend our time</li>
              <li>getting a different perspective on our problems</li>
            </ul>
            <h2>Co-op: a different way to think about the future</h2>
            <p>We know that a &lsquo;job for life&rsquo; and a final salary pension are things of the past. That&rsquo;s why we&rsquo;re finding new ways to help people with complicated lives prepare for healthy, happy futures. </p>
            <h3>Financial planning for real life</h3>
            <p>Getting a grip when you don&rsquo;t have all the information at your fingertips.</p>
            <h3>Life change planning</h3>
            <p>Keeping up with old friends and making new ones when you move house.</p>
            <h3>Short and long term goal setting</h3>
            <p>Simple budget tools to make your dreams, both big and small, achievable.</p>
            <h3>Collective problem solving</h3>
            <p>Later life inspiration from other Co-op members and social meetups.</p>
            <h2>Join Co-op and get back in control</h2>
            <p>Enter your email address and we&rsquo;ll get in touch with your ???</p>
            <div class="page-1">
              <p>You've told us you're moving home. We can help with that.</p>
              <label for="email">Your email:</label>
              <input id="email" type="email"><br />
              <%= link_to 'Continue', 'consent', :class => 'btn btn-primary' %>
            </div>
            <p>If the future seems uncertain, your files are in a mess and you don&rsquo;t know how much is in your pension - you&rsquo;re not alone. Let&rsquo;s start talking about the things that are important to us - and that can be a little uncomfortable - and take control of our futures today.</p>
          </div>
        </div>
      </article>
    </main>

  </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.1.min.js" integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="assets/javascript/vendor/jquery-1.12.1.min.js"><\/script>')</script>
<script src="assets/javascript/main.js"></script>
