---
stylesheet: '2017-08-22'
---

<nav class="skip-nav">
  <ul>
    <li><a href="#main" title="Skip to main content">Skip to content</a></li>
  </ul>
</nav>

<div class="app-content">
  <div class="content-wrapper">

    <header class="wrap header-main header-design-manual">
      <a class="coop-logo" aria-label="Homepage" href="index.html">
        <img src="<%= image_path 'assets/images/logos/coop-logo.svg' %>" alt="Co-op">
      </a>
    </header>

    <main id="main" class="main">
      <article class="wrap">
        <div class="row">
          <div class="column large-6">
            <h1>We&rsquo;re re-thinking later life</h1>
          </div>
        </div>
        <div class="row">
          <div class="column large-6">
            <p>Thinking about the future can be daunting.</p>
            <p>Our working lives are complicated, and the world is constantly changing around us.</p>
            <p>No-one should have to plan for the future on their own.</p>
          </div>
          <div class="column large-6">
            <img src="#" alt="#">
          </div>
        </div>
        <div class="row">
          <div class="column large-6">
            <img src="#" alt="#">
          </div>
          <div class="column large-6">
            <p>The best way to face the future is together:</p>
            <ul>
              <li>learning from each other</li>
              <li>sharing money worries and wisdom</li>
              <li>planning how we want to spend our time</li>
              <li>getting a different perspective on our problems</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="column large-6">
            <h2>Join us and get back in control</h2>
            <p>Enter your email address to get early access</p>
            <div class="page-1">
              <label for="email">Enter your email:</label>
              <input id="email" type="email"><br />
              <%= link_to 'Get started', '#', :class => 'btn btn-primary' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column large-7">
            <h2>A different way to think about the future</h2>
            <p>We know that a &lsquo;job for life&rsquo; and a final salary pension are things of the past. That&rsquo;s why we&rsquo;re finding new ways to help people with complicated lives prepare for healthy, happy futures. </p>
          </div>
        </div>

        <div class="row">
          <div class="column large-4">
            <h3>Work out when you want to stop working</h3>
            <p>
              We'll help you get a grip when you don&rsquo;t have all the information at your fingertips.
            </p>
            <input id="more-1" class="show-hide" type="checkbox" value="unchecked">
            <label for="more-1">Find out more</label>
            <div class="more-info">
              <p>
                How do you plan for the future when you don’t know what you have or how much you’ll need? Deciding whether to stop or carry on working is hard when you don’t have all the numbers. We can help you fill in the gaps, and think about your money and your work differently.
              </p>
            </div>
          </div>
          <div class="column large-6">
            <img src="#" alt="#">
          </div>
        </div>

        <div class="row">
          <div class="column large-6">
            <img src="#" alt="#">
          </div>
          <div class="column large-4">
              <h3>Stay connected and active</h3>
              <p>
                We'll help you keep up with old friends and make new ones when you stop work.
              </p>
              <input id="more-2" class="show-hide" type="checkbox" value="unchecked">
              <label for="more-2">Find out more</label>
              <div class="more-info">
                <p>
                  Having people to turn to is as important as a healthy bank balance. But making new friends and getting out there can be daunting. We can help you find kindred spirits, stay in touch with loved ones and keep doing the things you love.
                </p>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="column large-4">
            <h3>Set short and long term goals</h3>
            <p>
              Simple budget tools to make your dreams, both big and small, achievable.
            </p>
            <input id="more-3" class="show-hide" type="checkbox" value="unchecked">
            <label for="more-3">Find out more</label>
            <div class="more-info">
              <p>
                Making decisions about what to do with your money, or what to do if you don’t have enough money is tough. And the jargon and complexity make it hard to understand what your options are. We can help you to make informed choices by understanding what you want - now and in the future.
              </p>
            </div>
          </div>
          <div class="column large-6">
            <img src="#" alt="#">
          </div>
        </div>

        <div class="row">
          <div class="column large-6">
            <img src="#" alt="#">
          </div>
          <div class="column large-4">
            <h3>Talk about it</h3>
            <p>
              Get later life inspiration from other Co-op members like you and find social meetups.
            </p>
            <input id="more-4" class="show-hide" type="checkbox" value="unchecked">
            <label for="more-4">Find out more</label>
            <div class="more-info">
              <p>
                It’s easier to face the future together. You might be able to help someone with a similar problem, or get a different perspective after hearing another person’s story. Make connections with other people like you, both online and in your neighbourhood.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="column large-6">
            <h2>Join us and get back in control</h2>
            <p>If the future seems uncertain, your files are in a mess and you don&rsquo;t know how much is in your pension - you&rsquo;re not alone. Let&rsquo;s start talking about the things that are important to us - and that can be a little uncomfortable - and take control of our futures today.</p>
            <p>Enter your email address to get early access</p>
            <div class="page-1">
              <label for="email">Enter your email:</label>
              <input id="email" type="email"><br />
              <%= link_to 'Get started', '#', :class => 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </article>
    </main>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.1.min.js" integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="assets/javascript/vendor/jquery-1.12.1.min.js"><\/script>')</script>
<script src="assets/javascript/main.js"></script>
