---
title: Co-op Platform
---

<nav class="skip-nav">
  <ul>
    <li><a href="#main" title="Skip to main content">Skip to content</a></li>
  </ul>
</nav>

<div class="app-content">
  <div class="content-wrapper">

    <header class="wrap header-main header-design-manual">
      <a class="coop-logo" aria-label="Homepage" href="index.html">
        <img src="<%= image_path 'assets/images/logos/coop-logo.svg' %>" alt="Co-op">
      </a>
      <span>Sandra</span>
    </header>

    <main id="main" class="main">
      <article class="wrap">
          <div class="row margin-bh">
            <div class="column large-7">
              <section class="widget">
                <div class="home-card form">
                  <h1>We'll get started shortly</h1>
                  <p>In order to register with Oldham Council to pay council tax we'll need your address. You can always come back and complete this.</p>
                  <h2>Address</h2>
                  <fieldset>
                    <div class="form-row">
                      <label for="client_address_line_1">Address line 1</label>
                      <input class="address" type="text" name="client[address_line_1]" id="client_address_line_1">
                    </div>

                    <div class="form-row">
                      <label for="client_address_line_2">Address line 2</label>
                      <input class="address" type="text" name="client[address_line_2]" id="client_address_line_2">
                    </div>

                    <div class="form-row">
                      <label for="client_city">Town or city</label>
                      <input class="address" type="text" name="client[city]" id="client_city">
                    </div>

                    <div class="form-row">
                      <label for="client_county">County</label>
                      <input class="address" type="text" name="client[county]" id="client_county">
                    </div>

                    <div class="form-row">
                      <label for="client_postcode">Postcode</label>
                      <input class="postcode" type="text" name="client[postcode]" id="client_postcode">
                    </div>
                    <a href="2017-08-08-starting-moving" class="btn btn-primary">Continue</a>
                  </fieldset>
                </div>
              </section>
            </div>
          </div>
      </article>
    </main>

  </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.1.min.js" integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="assets/javascript/vendor/jquery-1.12.1.min.js"><\/script>')</script>
<script src="assets/javascript/main.js"></script>
