---
title: Co-op Platform
---

<nav class="skip-nav">
  <ul>
    <li><a href="#main" title="Skip to main content">Skip to content</a></li>
  </ul>
</nav>

<div class="app-content">
  <div class="content-wrapper">

    <header class="wrap header-main header-design-manual">
      <a class="coop-logo" aria-label="Homepage" href="index.html">
        <img src="assets/images/logos/coop-logo.svg" alt="Co-op">
      </a>
      <span>Sandra</span>
    </header>

    <main id="main" class="main">
      <article class="wrap">
          <div class="row margin-bh">
            <div class="column large-7">
              <section class="widget">
                <div class="card-intro">
                  <h1>Now</h1>
                  <p>You often buy fish. Why not try another thing?</p>
                </div>
                <div class="home-card">
                  <p>Co-op Littleover has an offer on Co-op Irresistible Premier Cru Chablis that goes great with fish. We’re open until 9pm, <a href="https://finder.coop.co.uk/food/store/DE23-6FQ/471-473-burton-road">pick a bottle up on your way home</a>.</p>
                  <figure style="background-image: url('<%= image_path 'cru-chablis.png' %>')"></figure>
                </div>
                <a href="#">Hide this</a>
              </section>
              <section class="widget">
                <div class="card-intro">
                  <h1>September</h1>
                  <p>You often buy fish. Why not try another thing?</p>
                </div>
                <div class="home-card">
                  <p>Co-op Littleover has an offer on Co-op Irresistible Premier Cru Chablis that goes great with fish. We’re open until 9pm, <a href="https://finder.coop.co.uk/food/store/DE23-6FQ/471-473-burton-road">pick a bottle up on your way home</a>.</p>
                  <figure style="background-image: url('<%= image_path 'cru-chablis.png' %>')"></figure>
                </div>
                <a href="#">Hide this</a>
              </section>
              <section class="widget">
                <div class="card-intro">
                  <h1>October</h1>
                  <p>You often buy fish. Why not try another thing?</p>
                </div>
                <div class="home-card">
                  <p>Co-op Littleover has an offer on Co-op Irresistible Premier Cru Chablis that goes great with fish. We’re open until 9pm, <a href="https://finder.coop.co.uk/food/store/DE23-6FQ/471-473-burton-road">pick a bottle up on your way home</a>.</p>
                  <figure style="background-image: url('<%= image_path 'cru-chablis.png' %>')"></figure>
                </div>
                <a href="#">Hide this</a>
              </section>
            </div>
          </div>
      </article>
    </main>

  </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.1.min.js" integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="assets/javascript/vendor/jquery-1.12.1.min.js"><\/script>')</script>
<script src="assets/javascript/main.js"></script>
